__pycache__/
.venv/
.pytest_cache/
*egg-info/
.DS_Store
config.json
docs/source/
docs/build/doctrees
docs/build/html/_sources
docs/build/html/_static
docs/build/html/.buildinfo
docs/build/html/objects.inv
docs/make.bat
docs/Makefile